<md-content data-ng-controller="HeaderController">
  <md-toolbar class="md-whiteframe-z1">
    <div class="md-toolbar-tools">
      <md-button class="menu" ng-click="toggleList()" aria-label="Show User List" data-ng-show="authentication.user">
        <md-icon md-svg-icon="modules/core/img/brand/menu.svg" ></md-icon>
      </md-button>
      <h2>
        <a href="/#!/"><span>Restaurant</span></a>
      </h2>
      <span flex></span>
      <div data-ng-hide="authentication.user">
        <md-button ng-click="navigate('signup')" ui-route="/signup" ng-class="{active: $uiRoute}">
          Sign Up
        </md-button>
        <md-button ng-click="navigate('signin')" ui-route="/signin" ng-class="{active: $uiRoute}">
          Sign In
        </md-button>
      </div>
    </div>
  </md-toolbar>
</md-content>