<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <section data-ng-controller="RestaurantsController">
      <div class="page-header">
        <h3>Create New Restaurant</h3>
      </div>
      <div class="col-md-12">
        <form name="restaurantForm" data-ng-submit="create()">
          <div layout layout-sm="column">
            <md-input-container style="width:100%">
              <label>Name</label>
              <input name="name" ng-model="name" required>
            </md-input-container>
          </div>
          <div layout layout-sm="column">
            <md-input-container style="width:100%">
              <label>Address</label>
              <textarea data-ng-model="address" required></textarea>
            </md-input-container>
          </div>
          <div layout layout-sm="column">
            <md-input-container style="width:50%">
              <label>Contact</label>
              <input name="name" ng-model="contact" required>
            </md-input-container>
            <md-input-container flex>
              <label>Cuisine</label>
              <input name="cuisine" ng-model="cuisine" required>
            </md-input-container>
          </div>
          <div layout layout-sm="column">
            <md-button type="submit" class="md-raised md-primary">
            Create
            </md-button>
          </div>
          <div data-ng-show="error" class="text-danger">
            <span data-ng-bind="error"></span>
         </div>
       </form>
     </div>
   </section>
 </div>
</div>