<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <section data-ng-controller="RestaurantsController" data-ng-init="find()">
      <div class="page-header">
        <h3>Restaurants</h3>
      </div>
      <div class="list-group">
        <md-list-item class="md-3-line" ng-repeat="restaurant in restaurants" ng-click="navigateTo(restaurants, restaurant._id)">
          <div class="md-list-item-text">
            <h3 data-ng-bind="restaurant.name"></h3>
            <h4 data-ng-bind="restaurant.cuisine"></h4>
            <p>
              Posted on
              <span data-ng-bind="restaurant.created | date:'medium'"></span>
              by
              <span data-ng-bind="restaurant.user.displayName"></span>
            </p>
            <h6><a data-ng-href="#!/restaurants/{{restaurant._id}}">VIEW DETAILS</a></h6>
          </div>
        </md-list-item>
      </div>
      <div class="alert alert-warning text-center" data-ng-hide="!restaurants.$resolved || restaurants.length">
        No Restaurants yet, why don't you <a href="/#!/restaurants/create">create one</a>?
      </div>
    </section>    
  </div>
</div>
